In [ ]:
# samarth deshmukh
# 25070123101
# exp 4

In [ ]:
set1={"apple","banana","cherry"}
print(set1)

{'apple', 'banana', 'cherry'}

In [ ]:
set1={"apple","banana","cherry"} # this is wrong remeber it
print(set1[1])

TypeError: 'set' object is not subscriptable

In [ ]:
set2={2,2.5,True,"samarth"} # unordered manner
print(set2)

{True, 2, 2.5, 'samarth'}

In [ ]:
set3={"apple",2,True,1,"apple"} # removes duplicate
print(set3)

{True, 2, 'apple'}

In [ ]:
set4={"apple","banana","cherry"}
set4.add("kiwi")
print(set4)

{'kiwi', 'apple', 'banana', 'cherry'}

In [ ]:
set5={"apple","banana","cherry"}
set5.remove("banana")
print(set5)

{'apple', 'cherry'}

In [ ]:
set6={1,2,3,4}
set7={3,4,5,6}
print("union:",set6|set7)

union: {1, 2, 3, 4, 5, 6}

In [ ]:
set6={1,2,3,4}
set7={3,4,5,6}
print("union:",set6|set7)
print("intersection:",set6&set7)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}

In [ ]:
set6={1,2,3,4}
set7={3,4,5,6}
print("union:",set6|set7)
print("intersection:",set6&set7)
print("difference:",set6-set7)
print("difference:",set7-set6)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}
difference: {5, 6}

In [ ]:
set6={1,2,3,4}
set7={3,4,5,6}
print("union:",set6|set7)
print("intersection:",set6&set7)
print("difference:",set6-set7)
print("difference:",set7-set6)
print("dsimiliar:",set6^set7)

union: {1, 2, 3, 4, 5, 6}
intersection: {3, 4}
difference: {1, 2}
difference: {5, 6}
dsimiliar: {1, 2, 5, 6}

In [ ]:
set8=frozenset({"apple","banana","cherry"})
print(set8)

frozenset({'apple', 'banana', 'cherry'})

In [ ]:
set8=frozenset({"apple","banana","cherry"})
print(set8)
print(type(set8))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [ ]:
participants = ["Amit", "Raju", "Amit", "Sneha", "Raju", "Rahul"] # 1 problem
unique_participants = set(participants)
print("Unique Event Participants:",unique_participants)

Unique Event Participants: {'Amit', 'Raju', 'Sneha', 'Rahul'}

In [ ]:
student1 = {"Maths", "Physics", "Chemistry"} # 2 problem
student2 = {"Physics", "Chemistry", "Biology"}
student3 = {"Chemistry", "Physics", "English"}
common_subjects = student1 & student2 & student3
print("Common subjects chosen by all students:",common_subjects)

Common subjects chosen by all students: {'Chemistry', 'Physics'}

In [ ]:

cricket = {"Amit", "Rahul", "Sneha"} # 3 problem
football = {"Rahul", "Priya", "Sneha"}
both_clubs = cricket & football
only_one_club = cricket ^ football
print("Students in both clubs:")
print(both_clubs)
print("\nStudents in only one club:")
print(only_one_club)

Students in both clubs:
{'Rahul', 'Sneha'}

Students in only one club:
{'Amit', 'Priya'}

In [1]:
students={"A","B","C","D","E"}
present={"A","C","E"}
absent=students-present
print("absent students:",absent)

absent students: {'D', 'B'}

In [2]:
course_codes = {"CS101", "EE102", "ME103", "CE104"}
discontinued_course = "ME103"
course_codes.discard(discontinued_course)
print("Updated Course Codes:", course_codes)

Updated Course Codes: {'CS101', 'EE102', 'CE104'}